body,
html {
  height: 100%;
  margin: 0;
  font-size: 16px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.8em;
  color: #666;
}

.pimg1,
.pimg2,
.pimg3 {
  position: relative;
  opacity: 0.7;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  /* 
    fixed = parallax
    scroll = normal
  */
  background-attachment: fixed;
}

.section {
  text-align: center;
  padding: 50px 80px;
  background-color: rgb(233, 180, 174);
}
h2 {
  border: 1px solid red;
}
p {
  border: 1px solid red;
}

.pimg1 {
  background-image: url("../img/img1.jpg");
  min-height: 100%;
}

.pimg2 {
  background-image: url("../img/img2.jpg");
  min-height: 400px;
}

.pimg3 {
  background-image: url("../img/img3.jpg");
  min-height: 400px;
}

.section-light {
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-dark {
  background-color: #282e34;
  color: #ddd;
}

.ptext {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
  font-size: 27px;
  letter-spacing: 8px;
  text-transform: uppercase;
}

.ptext .border {
  background-color: #111;
  color: #fff;
  padding: 20px;
}

.ptext .border.trans {
  background-color: transparent;
}

@media (max-width: 568px) {
  .pimg1,
  .pimg2,
  .pimg3 {
    background-attachment: scroll;
  }
}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  position: relative;
}

.padd-15 {
  padding-left: 15px;
  padding-right: 15px;
}

.skills {
  -ms-flex: 0 0 40%;
  flex: 0 0 40%;
  margin-top: 40px;
  max-width: 40%;
}

.skills .skill-item {
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}

.skills .skill-item h5 {
  line-height: 40px;
  font-weight: 600;
  font-size: 16px;
  color: #302e4d;
  text-transform: capitalize;
  margin: 0;
}

.skills .skill-item .progress {
  background-color: #e3e3e3;
  height: 7px;
  border-radius: 4px;
  width: 100%;
  position: relative;
}

.skills .skill-item {
  margin-bottom: 30px;
}

.skills .skill-item .progress .progress-in {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  border-radius: 4px;
}

.skills .skill-item .skill-percent {
  /* display: none; */
  color: #302e4d;
  line-height: 40px;
  position: absolute;
  right: 0;
  top: -40px;
  font-weight: 400;
}

.skills .skill-item .progress .progress-in {
  background-color: #ec1839;
}
